<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit-Life - Login</title>
    
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>

    <section>
        <header><h1><i>Fit-Life</i></h1></header>
         <div class="contenedor">
            <div class="formulario">
               <form action="/admin/login" method="post">
                   <h2>Iniciar Sesión</h2>

                   <div class="input-contenedor">
                        
                        <input type="text" name="user" required>
                        <label for="#">Usuario</label>
                   </div>
                   
                   <div class="input-contenedor">
                        
                        <input type="password" name="pass" required>
                        <label for="#">Contraseña</label>
                   </div>
                   <button type="submit">Iniciar</button>
               </form>

               <div>
                

                
               </div>
            </div>
         </div>



    </section>
</body>
</html>