        <footer style="background-color: rgb(255, 237, 224);">
            <div class="container"><p class="m-0 text-center text-white" style="font-size: 70px;" ><i style="color:navy">Fit-Life</i></p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>