<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
    <link rel="icon" type="image/x-icon" href="img/Dental.jpg" />
   <title>Fit_Life-Update</title>
</head>
 <h1 id="crear" style="font-family: sans-serif;">Agregar Producto</h1>

<form action="/addPost" method="post">
<div class='flex-principal'>
<!------------------------------------------->
<div id="editorcentrall">
<!------------------------------------------>
<label for="nombre" style="color: rgb(235, 120, 216);">Nombre</label>

<input type="text" autofocus name="nombre" placeholder="Nombre" />

<!------------------------------------------>

<label for="codigo" style="color: rgb(235, 120, 216);">Codigo</label>

<input name="codigo" type="number" placeholder=" Codigo" />

<!--------------------------------------------->

<label for="precio" style="color: rgb(235, 120, 216);">Precio</label>
<input type="number" name="precio" placeholder=" Precio">

<!----------------------------------------------------->
<label for="descripcion" style="color: rgb(235, 120, 216);">Descripcion</label>
<input type="text" name="descripcion" placeholder=" Descripcion">

<!----------------------------------------------------->
<label for="calidad" style="color: rgb(235, 120, 216);">Calidad</label>
<input type="text" name="calidad" placeholder=" Calidad">
<!----------------------------------------------------->
<label for="cantidad" style="color: rgb(235, 120, 216);">Cantidad</label>
<input type="number" name="cantidad" placeholder=" Cantidad">
<!--------------------------------------------------->

<!----------------------------------------------------->
</div>

<!------------------------------------------->
<div id="cancelar">
	<input type="submit" value="Agregar" id="update">
    <a href="/productos" id="botonProductos" style="color: rgb(235, 120, 216);" >Volver</a>
</div>

</div>
</form>
</body>
<%- include('footer') -%>
</html>
