<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h4><b>Jurelis Natera</b></h4>
   <h4><b>30663228</b></h4>
   <h4><b>Seccion "2"</b></h4>
    
  </body>
</html>
