
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>Fit_Life</h1> 
    </div>
    
    
    <div id='contenedorP'>


    
    <section>
       
       <div id='ContenedorImgNombre'>
       
       
       </div>
       <p>Lo mejor para tu vida ha llegado, obten tu mejor apariencia</p>
    </section>

    </div>
<div class="lose">
<a href='/login' id='botonProductos' style="color: rgb(235, 120, 216);">Admin</a>
  <a href='/loginUsers' id='botonProductos' style="color: rgb(235, 120, 216);">Cliente</a>
</div>
  
   <%- include('footer') -%>
  
</body>

</html>