<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit_Life</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" type="image/x-icon" href="img/Dental.jpg" />
</head>
<body>
  <div class="contenedor">
    <header class="header">
      <div class="logo">
        <p style="color: rgb(120, 235, 227);">Fit_Life</p>
      </div>
      <div class="diente">
        <img src="img/menu.png" alt="">
      </div>
      <nav class="menu">
        <ul class="navegacion">
          <li><a href="#" style="color:rgb(120, 235, 227) ;">Inicio</a></li>
          <li><a href="#" style="color:rgb(120, 235, 227) ;">Producto</a></li>
          <li><a href="#" style="color:rgb(120, 235, 227) ;">Contacto</a></li>
          <li><a target="_blank" href="/login" class="form_contact">Login</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <aside class="presentacion">
    <div class="informacion">
      <h1></h1>
      <div>
        <p><b>¿Que es Fit_Life?</b></p>
        <hr>
<p style="font-family: cursive;">Lo mejor para tu vida ha llegado, obten tu mejor apariencia</p>
      </div>
      <div class="informacion--boton">
       
      </div>
    </div>
    <div class="presentacion--imagen">
      <img src="img/FD.jpg" alt="imagen presentacion">
    </div>
  </aside>
  <main class="michi">
    <h2 class="michi--titulo">Productos Disponibles</h2>
    <div class="tools">
      <article class="Moi">
        <img src="img/CP.jpg" alt="">
        <h1>Te Verde</h1>
        <p>Tomar cada mañana</p>
        <div class="Moi--info">
          <p>3$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/CD.jpg" alt="">
        <h1>Barra de Granola</h1>
        <p>Comer cada merienda</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/EB.jpg" alt="">
        <h1>Banda de resistencia</h1>
        <p>Usar cada dia 2 horas </p>
        <div class="Moi--info">
          <p>5$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/HD.jpg" alt="">
        <h1>Control de Porciones</h1>
        <p>Buena forma para medir la cantidad de tus comidas</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
    </div>
  </main>
</body>
</html>




