<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fit_Life-Login Users</title>
	<style type="text/css">
		
		body{
	  background-image:url(/img/login.jpg);
	 
	  background-size: cover;
	  background-position:top;
	  
		}
		form{
			display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            border:1px solid black;
            border-radius:10px;
            margin:2% auto;
            width:45%;
            height:auto;
            padding: 10px;
         	background:rgba(157, 172, 167,.6);
		}
		.divInfo{
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
		}
		input{
			padding:5px;
			border-radius:10px;
			text-align: center;
		}
		label{
			margin-bottom:20px;
			margin-top:20px;
			color:white;
			font-weight: bold;
			font-size:1.5rem;
		}
		h1{
			font:2.5rem 'dali';
			text-align:center;
			color:white;

		}
		#divTitulo{
			width:40%;
			margin:50px auto;
		}
		#enviar{
			cursor: pointer;
			margin-top:10px;
		}
		p{
		 margin-right: 1rem;
		}
		a{
			color:blue;
			text-decoration: none;
			font-size:1rem;
		}
		a:hover{
			text-decoration: revert-layer;
		}

	</style>
	<link rel="stylesheet" type="text/css" href="/css/queryLogin.css">
	<link rel="icon" type="image/x-icon" href="img/mascotas.png" />
	<script type="text/javascript" src="/js/alert.js"></script>
</head>
<body>
	<div id='divTitulo'>
		<h1  style="color: navy;" style="font-family: sans-serif;">Inicio de Sesion</h1>
	</div>


<form action="/loginUsers" method="post">

<div class='divInfo'>
 <label>Correo Electronico</label>
 <input type="email" name="email" required>
</div>

<div class='divInfo'>
 <label>Contraseña</label>
 <input type="password" name="password" required>	
</div>

<div class='divInfo'>
	<input type="submit" value="Iniciar" id='enviar'>
</div>
<div>
	<p>Correo: yurielisnatera@gmail.com</p>
	<p>Clave: 1234</p>
</div>

<div style='display:flex;justify-content: center;align-items: center;color:white'>
 <p style="color: black;">¿No tienes una cuenta? registrate aqui </p>
 <a href="/registroUsers">Registro</a>

</div>

</form>
<script type="text/javascript">
	fetch('/mensageDeRegistro')
	.then(res=> res.json())
	.then(respuesta=>{
		if(respuesta.mensaje == false){
			console.log('No se recibio nada de la ruta "mensajeDeRegistro" ');
		}else{
			  console.log('--_--_--'+respuesta.mensaje+'--_--_--');
			  Swal.fire('¡Se ha Registrado Exitosamente!')
			  .then(()=>{
			  	 fetch('/eliminarMensajeRegistro')
			  	 .then(res=>res.json())
			  	 .then(respuesta2=>{
			  	 	if(respuesta2.mensaje === false){
			  	 		console.log('mensaje inexistente');
			  	 	}			  
			  	 })
			  })
		}
	})
</script>
</body>
</html>